.content-background{
  background-image: url('/assets/images/fondo-contraseña.jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;

}

/* El fondo del formulario con opacidad para que se vea bien sobre el fondo */
.form-container {
  margin-top: 250px;
  margin-left:5px;
  margin-right: 5px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(58, 58, 58); /* Fondo blanco con un poco de transparencia */
  padding: 20px;
  border-radius: 8px;  
}
ion-title  {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size: 28px;
  font-weight: bold; 
  color: #3d3d3d;
  text-transform: uppercase; 
  letter-spacing: 1px;  
  line-height: 1.2; 
  text-align: center;  
  padding: 10px 0; 
  background-color: #00ccff7d; 
  
  border-radius: 10px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

ion-header {
  height: 100px;
  padding: 20px;
  background-color: rgb(58, 58, 58);
}


ion-item {
  width: 100%;
  margin-bottom: 20px;
}

ion-input {
  margin-top: 10px;
  font-size: 16px;
  padding: 12px;
  width: 100%;
}

ion-button {
  margin-top: 15px;
  --border-radius: 8px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
}

ion-button:first-of-type {
  margin-top: 30px;
}


ion-input {
  margin-top: 10px;
  font-size: 16px;
  padding: 12px;
  width: 100%;
}

ion-button {
  margin-top: 15px;
  --border-radius: 8px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
}

ion-button:first-of-type {
  margin-top: 30px;
}
