<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<div id="background-container">
  <div id="container" >
    <ion-card>   
      <ion-card-content>
        <ion-card-header>
          <div id="container">
            <ion-title>Bienvenido a TeLlevoAPP</ion-title>
            <ion-label>{{nombreUsuario}}</ion-label>
          </div>
          
        </ion-card-header>
        <ion-button (click)="goBack()" expand="full">Atrás</ion-button>
        
      </ion-card-content>
    </ion-card>
  </div>
</div>
