#container {
  display: flex;
  flex-direction: column;      // Asegura que los elementos estén uno debajo del otro
  align-items: center;         // Centra los elementos horizontalmente
  justify-content: center;     // Centra los elementos verticalmente
  height: 100vh;               // Hace que el contenedor ocupe toda la altura de la ventana
  text-align: center;          // Centra el texto dentro de los labels
}

.saludo {
  margin-bottom: 20px;  // Menos margen para no desplazar demasiado
  font-size: x-large;   // Tamaño grande para el saludo
  border: 1px;
  border-color: cyan;
}

.nombre-usuario {
  margin-bottom: 20px;
  font-size: larger;  // Ajuste el margen entre el nombre de usuario y el gif
}

img {
  margin-top: 20px; 
  height:300px;
  width: 300px; 
}
