<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Formulario para agregar un nuevo viaje -->
  <ion-item>
    <ion-label position="floating">Destino</ion-label>
    <ion-input [(ngModel)]="destino" placeholder="Ejemplo: Ciudad A" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Tarifa por pasajero ($)</ion-label>
    <ion-input [(ngModel)]="tarifa" type="number" placeholder="Ejemplo: 50" required></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="agregarViaje()">Agregar Viaje</ion-button>

  <ion-list>
    <ion-item *ngFor="let viaje of viajesDisponibles">
      <ion-label>
        <h2>{{ viaje.destino }}</h2>
        <p>Tarifa: ${{ viaje.tarifa }}</p>
      </ion-label>
      <ion-button (click)="confirmarViaje(viaje)">Confirmar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
