ion-button{
    margin: 5% 5% 5% 5%;
}
ion-icon{
    margin: auto;
    margin-top:10%;
    width:100px;
    height: 100px;
}
img{
    height: 270px;
    width: 270px;
    margin-left: 40px;
}
ion-header ion-toolbar ion-title{
    margin-left: 130px;
}