ion-title  {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size: 28px;
  font-weight: bold; 
  color: #9a9a9a;
  text-transform: uppercase; 
  letter-spacing: 1px;  
  line-height: 1.2; 
  text-align: center;  
  padding: 10px 0; 
  background-color: #00ccff7d; 
  
  border-radius: 10px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}
ion-input{
  color:rgb(0, 251, 255);
  --ion-color-focus: #0000ff;
}



#btnConectar {
  margin-top: 5%;
  color: white;
  margin-left:75px;
  margin-bottom: 30px;
}

#btnRegistrar{
  margin-top: 5%;
  margin-bottom: 30px;
}

#container ion-card ion-card-header ion-card-title {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-size: larger;
  
}

#container ion-card ion-card-header ion-img {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5%;
  object-fit: cover;
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
}

#seccionCarga {
  padding: 2%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}

#seccionCarga mat-spinner {
  width: 50% !important;
  margin: auto;
  margin-top: 3%;
}
