#btnRegistrar {
  margin-top: 60%;
  background-color: rgb(70, 184, 255);
  font-size: x-large;
  font-style: oblique;
  color:  rgb(187, 244, 255);
  border: 2px;
  margin-left:10px;
}
#container ion-card ion-card-header ion-card-title {
  font-size: xx-large;
}
ion-card-content {
  padding: 15%
}

ion-header ion-toolbar ion-title {
  text-align: center;
  font-size: x-large;
}
